@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit);
  --color-primary: #017ab1;
  --color-primary-foreground: #ffffff;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}